* {
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background: url(../img/Wallpapers-gris-claro13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.todo {
    margin: 20px;
    padding: 10px;
}

.msj1, .msj2, .msj3, .msj4, .msj5, .msj6, .msj7{
    color: red;
    font-size: small;
    font-family: verdana;
}

.resultado {
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    background: url(../img/screen-9.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.nombre, .nombre2, .user, .ciudad, .localidad, .codigo {
    display: inline-block;
    margin: 10px;
    padding: 30px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-left: 60px;
}

.p_nombre, .s_nombre, .user2, .ciudad2, .local, .cp {
    margin: 5px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellowgreen;
    text-align: center;
}